.contenedorList {
    margin-left: 27%;
}

/* Cartas de presentación  */
.contenedorCartas {
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.contenedorCartas .card {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgb(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.contenedorCartas .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.contenedorCartas .card img {
    width: 330px;
    height: 220px;
}
.contenedorCartas .card h4 {
    font-weight: 600;
}

.contenedorCartas .card p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

p {
    font-family: "Roboto", sans-serif;
}

/* {{-- Listado producto canasto   --}} */

.contenbasket {
    width: 30%;
    height: 100%;
    margin-top: -18%;
    position: absolute;
    overflow-y: scroll;
}

.contenbasket::-webkit-scrollbar {
    width: 7px;
}

.contenbasket::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 5px;
}

.alerta {
    display: none;
}

.containerForm {
    margin-left: 35%;
    margin-top: 40px;
}

.containerTable{
  margin-top: 40px;

}